# ----------------------------------------------------->
# requirements.txt - المكتبات المطلوبة للمشروع
# ----------------------------------------------------->

python-telegram-bot[job-queue]
python-binance
pandas
numpy
Flask

